<ifModule mod_rewrite.c>
#Activar rewrite
 RewriteEngine on
 ErrorDocument 404 localhost/TiendaDeRopa/Error/
# que no nos saque las url si es un directorio o un fichero
 RewriteCond %{SCRIPT_FILENAME} !-d
 RewriteCond %{SCRIPT_FILENAME} !-f

 RewriteRule ^/?([^/]+)/([^/]+) index.php?controller=$1&action=$2
</ifModule>