@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body {
    margin:0;
    padding:0;
    border:0;
}

.nav-link{
    margin: 2px;
    font-size: 3vh;
    text-transform: uppercase;
    color: seashell;
    font-family: 'Roboto', sans-serif;
}

.nav-link:hover{
    color: rgb(65, 105, 225);
    font-family: 'Roboto', sans-serif;
}


.text-title-menu {
    font-size: 30px;
    color: rgb(65, 105, 225);
    text-decoration: none;
    font-family: 'Comforter Brush', cursive;
    transition: .5s;
}

.text-title-menu:hover{
    color: #ffffff;
    transition: .4s;
    font-size: 31px;
    font-family: 'Comforter Brush', cursive;
}

.text-title {
    font-size: 40px;
    font-weight: 500;
    color: rgb(65, 105, 225);
    font-family: 'Roboto', sans-serif;
}

.text-options {
    font-size: 21px;
    font-weight: 300;
    color: black !important; 
    font-family: 'Roboto', sans-serif;  
    list-style:none
}

.text-description {
    font-size: 18px;
    font-weight: 300;
    color: black !important; 
    font-family: 'Roboto', sans-serif;
}

.text-primary {
    font-size: 23px;
    font-weight: 300;
    color: black !important; 
    font-family: 'Roboto', sans-serif;
}

.text-primary2 {
    font-size: 2.5vw;
    font-weight: 350;
    color: white !important; 
    font-family: 'Roboto', sans-serif;
}


.envase {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.envase figure {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: visible       ;
    box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.50);
}

.envase figure img {
    width: 100%;
    height: 100%;
}

.envase figure .texto {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .6);
    text-align: center;
}

.envase figure .texto h2 {
    color: #ffffff;
    font-size: 42px;
    width: 100%;
    max-width: 720px;
    margin: auto;
    margin-top: 120px;
    transition: all 600ms ease-out;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 6px;
}

.envase figure .texto i {
    color: #ffffff;
    font-size: 42px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.icons1 { 
    font-size: 50px;
}

.border-section {
    border-color: black;
    transition: .3s;
    border-radius: 10px;
}

.border-section:hover {
    border-color: rgb(65, 105, 225);
    transition: .3s;
    box-shadow: 0px 0px 15px rgb(65, 105, 225);

}

.border-events {
    border-color: #E3D956;
    transition: .3s;
    border-radius: 10px;
}

.border-events:hover {
    border-color: #E3D956;
    transition: .3s;
    box-shadow: 4px 4px 22px #E3D956;

}

.text-color1{
    color: rgb(65, 105, 225);
}

.icons {
    width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

.btn-fixed {
    background: rgb(64, 89, 167);
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 2s;    
    font-weight: 500;
    border-radius: 100px;
    
    
}

.btn-fixed:hover {
    background: rgb(65, 105, 225);
    color: #ffffff;
    transition: .5s;
    box-shadow: 0px 0px 15px  rgb(65, 105, 225);
    font-size: 19px;
}

.btn-a {
    background: rgb(202, 146, 42);
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 2s;    
    font-weight: 500;
    border-radius: 100px;
    
    
}

.btn-a:hover {
    background: rgb(240, 157, 4);
    color: #ffffff;
    transition: .5s;
    box-shadow: 0px 0px 15px  rgb(240, 157, 4);
    font-size: 19px;
}

.btn-b {
    background: rgb(69, 219, 64);
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: .5s;    
    font-weight: 500;
    border-radius: 100px;
    
    
}

.btn-b:hover {
    background: rgb(19, 235, 12);
    color: black;
    transition: .5s;
    box-shadow: 0px 0px 15px  rgb(19, 235, 12);
    font-size: 19px;
}

.btn-c {
    background: rgb(200, 39, 39);
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 2s;    
    font-weight: 500;
    border-radius: 100px;
    
    
}

.btn-c:hover {
    background: rgb(230, 11, 11);
    color: #ffffff;
    transition: .5s;
    box-shadow: 0px 0px 15px  rgb(230, 11, 11);
    font-size: 19px;
}

.border-color-blue {
  box-shadow: 0px 0px 35px  rgb(65, 105, 225);
}


.mt-8 {
    margin-top: 5rem;
}
.mt-6 {
    margin-top: 3.6rem;
}

.border-left-primary{
    border-left: 0.25rem solid rgb(65, 105, 225);
}

.border-left-secondary{
    border-left: 0.25rem solid rgb(14, 178, 243);
}
.navbar-toggler {
    background: rgb(65, 105, 225);
    color: #ffffff;
}

.nav-black {
    background: rgb(0, 0, 0, .9);
    transition: 0.8s;
}

.fondo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .4);
    text-align: center;
}

.mx-6 {
    margin-left: 6.5rem;
}

.mt-7 {
    margin-top: 5rem !important; 
}
.text-footer  {
    font-family: 'Comforter Brush', cursive;
    color: #4169e1;
}
.imageProduct {
    height: 100%;
    width: 60%;
}


.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

.fondImage {
    background: rgb(0, 0, 0, .4);
    font-size: 85%;
}

.fondImage2 {
    background: rgb(0, 0, 0, .6);
    height: 400px;
    text-align: center;
    color: #ffffff;
}
.textfin{
    font-size: 18px;
    box-shadow: 0px 0px 15px rgb(230, 11, 11); 
    background: rgb(0, 0, 0, .6);
}
.textfin:hover {
    font-size: 20px;
    box-shadow: 0px 0px 15px rgb(230, 11, 11); 
    background: rgb(0, 0, 0, .6);
}

.textfin2{
    font-size: 18px;
    box-shadow: 0px 0px 15px rgb(7, 228, 55); 
    background: rgb(0, 0, 0, .6);
}
.textfin2:hover {
    font-size: 20px;
    box-shadow: 0px 0px 15px rgb(7, 228, 55); 
    background: rgb(0, 0, 0, .6);
}

.image3 {
    position:relative;
    background: url("../img/Web_Detail.jpg") no-repeat fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
}

.normas {
    list-style-type:none;
    padding-top: 5%;
}

.apodo {
    font-family: 'Shadows Into Light', cursive;
}